.lightbox{
  position:relative;
  padding:10px;
  text-align:left;
  width:650px;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
  background:#999;
  background:rgba(153,153,153,0.6);
}
.lightbox_wrapper{
  background-color:#fefefe;
  padding:10px 20px;
  position:relative;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
}
.lightbox .close_btn{
  color:#999;
  display:block;
  font:bold 25px/25px Trebuchet MS,Tahoma,sans-serif;
  position:absolute;
  top:5px;
  right:10px;
}
.lightbox .close_btn:hover{
  color:#333;
  text-decoration:none;
}
div#darkenScreenObject{
  overflow:hidden;
  position:fixed;
  top:0;
  left:0;
  filter:alpha(opacity=70);
  opacity:.7;
  z-index:25;
  background-color:black;
  width:100%;
  height:100%;
}
* html div#darkenScreenObject{
  position:absolute;
}
div#darkenScreenObjectPlayer{
  overflow:hidden;
  position:absolute;
  top:0;
  left:0;
  filter:alpha(opacity=70);
  opacity:.7;
  z-index:25;
  background-color:black;
  width:100%;
  height:100%;
}
div#overlayAddressbook{
  left:0;
  top:0;
  height:354px;
  width:550px;
  z-index:25;
  color:#193e47;
  background:transparent url(/static/ft/img/v2/gmail_bg.jpg) no-repeat scroll 0 0;
}
div#overlayAddressbook h3{
  color:#193e47;
}
div#overlayAddressBar{
  left:0;
  top:354px;
  height:30px;
  width:550px;
  filter:alpha(opacity=50);
  opacity:.5;
  z-index:30;
  background-color:black;
}
div#overlayStudioAddressbook{
  left:0;
  top:0;
  height:354px;
  width:550px;
  z-index:25;
  color:#193e47;
  background:transparent url(/static/ft/img/v2/gmail_bg.jpg) no-repeat scroll 0 0;
  margin:120px 0 0 205px;
}
div#overlayStudioAddressbook h3{
  color:#193e47;
}
div#contactlist{
  height:300px;
  width:500px;
  z-index:25;
  overflow:hidden;
}
div#contactlistTop{
  margin-top:20px;
  width:500px;
  background-position:bottom left;
  height:19px;
}
div#contactlistBottom{
  width:500px;
  background-position:top left;
}
div#importgmail{
  height:275px;
  width:500px;
  z-index:25;
}
div#overlayObject{
  position:absolute;
  z-index:50;
  margin:auto;
  background: url(../images/overlay_title01_bg.gif) left top repeat-x;
  height: 18px;
  color:black;
}
div#overlay_close{
  float:right;
  width:34px;
  height:30px;
  cursor:pointer;
  margin-top: -24px;
  background:url(../images/i2.gif) no-repeat -431px 0;
}
div#overlay_close_preview:hover{
  background:url(../images/i2.gif) no-repeat -431px -30px;
}
div#overlayObjectPreview{
  position:absolute;
  z-index:50;
  margin:auto;
  background: url(../images/overlay_title01_bg.gif) left top repeat-x;
  color:black;
}
div#overlay_close_preview{
  float:right;
  width:34px;
  height:30px;
  cursor:pointer;
  background:url(../images/i2.gif) no-repeat -431px 0;
}
div#overlay_close:hover{
  background:url(../images/i2.gif) no-repeat -431px -30px;
}
div.html_overlay_close{
  float:right;
  width:34px;
  height:30px;
  cursor:pointer;
  background:url(../images/i2.gif) no-repeat -431px 0;
}
div.html_overlay_close:hover{
  background:url(../images/i2.gif) no-repeat -431px -30px;
}
div.html_overlay_alert_close{
  float:right;
  width:34px;
  height:30px;
  cursor:pointer;
  background:url(/static/ft/img/v2/alert_close.gif) no-repeat 0 0;
}
div.html_overlay_alert_close:hover{
  background:url(/static/ft/img/v2/alert_close.gif) no-repeat 0 -30px;
}
div.progressBoxContent{
  text-align:center;
}
div#overlayProgressClose{
  float:right;
  width:34px;
  height:30px;
  cursor:pointer;
  background:url(../images/i2.gif) no-repeat -431px 0;
}
div#overlayProgressClose:hover{
  background:url(../images/i2.gif) no-repeat -431px -30px;
}
div#importgmailbtn{
  float:right;
  padding-right:10px;
  width:59px;
  height:20px;
  cursor:pointer;
  background:url(/static/ft/img/v2/gmail_logo.gif) left top;
  background-repeat:no-repeat;
}
div#importyahoobtn{
  float:right;
  padding-right:10px;
  width:104px;
  height:20px;
  cursor:pointer;
  background:url(/static/ft/img/v2/ymail_logo.gif) 0 3px;
  background-repeat:no-repeat;
}
div#addlistbtn{
  float:left;
  width:105px;
  height:30px;
  cursor:pointer;
  background:url(/static/ft/img/buttons/btn_add_list.gif) left top;
  background-repeat:no-repeat;
}
div#addlistbtn:hover{
  background:url(/static/ft/img/buttons/btn_add_list.gif) left -30px;
  background-repeat:no-repeat;
}
div#closelistbtn{
  float:right;
  width:85px;
  height:30px;
  cursor:pointer;
  background:url(/static/ft/img/buttons/btn_cancel.gif) left top;
  background-repeat:no-repeat;
}
div#closelistbtn:hover{
  background:url(/static/ft/img/buttons/btn_cancel.gif) left -30px;
  background-repeat:no-repeat;
}
div#loggmailbtn{
  float:left;
  width:85px;
  height:30px;
  cursor:pointer;
  background:url(/static/ft/img/buttons/btn_submit.gif) left top;
  background-repeat:no-repeat;
}
div#loggmailbtn:hover{
  background:url(/static/ft/img/buttons/btn_submit.gif) left -30px;
  background-repeat:no-repeat;
}
div#backbtn{
  width:85px;
  height:30px;
  cursor:pointer;
  background:url(/static/ft/img/buttons/btn_back.gif) left top;
  background-repeat:no-repeat;
}
div#backbtn:hover{
  background:url(/static/ft/img/buttons/btn_back.gif) left -30px;
  background-repeat:no-repeat;
}
.overlaytitle{
  color:#fff;
  font-size:18px;
  padding:3px 0 0 7px;
}
.overlaybody{
  font-size:15px;
  background:#fff;
  padding:25px 20px;
  height:auto;
}
#overlayHTMLBox > .overlaybody {
  background: none;
}
.overlaybody_preview{
  font-size:15px;
  background:#fff;
  padding:25px 20px;
  height:auto;
}
.overlaybtn{
  text-align:center;
  margin-top:15px;
  font-size:12px;
}
.overlayclose{
  text-align:center;
  margin-top:40px;
  font-size:12px;
}
#listing_counter{
  color:orange;
  float:left;
  font-weight:bold;
  margin-left:4px;
  width:139px;
}
div#overlayWaiting{
  left: 50%;
  transform: translateX(-50%);
  width:300px;
  background: url(../images/overlay_title01_bg.gif) left top repeat-x;
}
div#overlayWaitingTitle{
  color:#fff;
  font-size:18px;
  padding:3px 0 0 7px;
  min-height: 15px;
}
div#overlayHTMLBox{
  left:17px;
  width:500px;
}
div#overlayHTMLBoxTitle{
  color:#fff;
  font-size:18px;
  padding:3px 0 0 7px;
  min-height: 15px;
}
div#overlayAlertBox{
  left:100px;
  width:350px;
  background: url(../images/overlay_title01_bg.gif) left top repeat-x;
}
div#overlayAlertBoxTitle{
  color:#fff;
  font-size:18px;
  padding:3px 0 0 7px;
  min-height: 15px;
}
div#overlayAlertBoxBtn{
  padding-top:20px;
  text-align:center;
  width:320px;
}
div#overlayConfirmBox{
  left:100px;
  width:350px;
  background: url(../images/overlay_title01_bg.gif) left top repeat-x;
}
div#overlayConfirmBoxTitle{
  color:#fff;
  font-size:18px;
  padding:3px 0 0 7px;
  min-height: 15px;
}
div#overlayConfirmConfirmBtn,
div#overlayConfirmCancelBtn{
  padding-top:20px;
  text-align:center;
  width:160px;
  float: left;
}
#reportTextBox{
  width:346px;
  resize:none;
}
div#overlayReportBox{
  left:100px;
  width:380px;
  background: url(../images/overlay_title01_bg.gif) left top repeat-x;
}
div#overlayReportBoxTitle{
  color:#fff;
  font-size:18px;
  padding:3px 0 0 7px;
  min-height: 15px;
}
div#overlayReportBoxBtn{
  padding-top:20px;
  text-align:center;
  width:350px;
}
div#overlayReportSendBtn,
div#overlayReportCancelBtn{
  padding-top:20px;
  text-align:center;
  width:160px;
  float: left;
}
span#reportBoxMessage{
  text-align:center;
}

div#overlayRadioBox{
  left:100px;
  width:350px;
  background: url(../images/overlay_title01_bg.gif) left top repeat-x;
}
div#overlayRadioBoxTitle{
  color:#fff;
  font-size:18px;
  padding:3px 0 0 7px;
  min-height: 15px;
}
div#overlayRadioBoxBtn{
  padding-top:20px;
  text-align:center;
  width:320px;
}
div#overlayRadioSaveBtn,
div#overlayRadioCancelBtn{
  padding-top:20px;
  text-align:center;
  width:160px;
  float: left;
}
div#radioBoxMessage{
  text-align:center;
}
input#radioTextBox{
  width: 300px;
  margin: 15px 8px 0 8px;
}

div#overlayInputBox{
  left:100px;
  width:350px;
  background: url(../images/overlay_title01_bg.gif) left top repeat-x;
}
div#overlayInputBoxTitle{
  color:#fff;
  font-size:18px;
  padding:3px 0 0 7px;
  min-height: 15px;
}
div#overlayInputBoxBtn{
  padding-top:20px;
  text-align:center;
  width:320px;
}
div#overlayInputSaveBtn,
div#overlayInputCancelBtn{
  padding-top:20px;
  text-align:center;
  width:160px;
  float: left;
}
div#inputBoxMessage{
  text-align:center;
}
input#inputTextBox{
  width: 300px;
  margin: 15px 8px 0 8px;
}
div#overlayProgressBox{
  left:100px;
  width:350px;
  background: url(../images/overlay_title01_bg.gif) left top repeat-x;
}
div#overlayProgressBoxTitle{
  color:#fff;
  font-size:18px;
  padding:3px 0 0 7px;
  min-height: 15px;
}
div#overlayProgressBoxBtn{
  padding-top:20px;
  text-align:center;
  width:320px;
}
div#overlaySSPreviewBox{
  left:-8px;
  width:578px;
  background: url(../images/overlay_title01_bg.gif) left top repeat-x;
}
div.ss-home-preview-btn{
  width:548px;
  height:60px;
  position:relative;
}
div.ss-home-usethisbtn a:link,div.ss-home-usethisbtn a:visited{
  position:absolute;
  left:157px;
  top:8px;
  width:235px;
  height:50px;
  background:url(/static/ft/img/slideshow/buttons/btn_use_this_template.gif) left top no-repeat;
}
div.ss-home-usethisbtn a:hover,div.ss-home-usethisbtn a:active{
  background:url(/static/ft/img/slideshow/buttons/btn_use_this_template.gif) left -50px no-repeat;
}
div.ss-home-signupbtn a:link,div.ss-home-signupbtn a:visited{
  position:absolute;
  left:157px;
  top:8px;
  width:235px;
  height:50px;
  background:url(/static/ft/img/slideshow/buttons/btn_signup_to-create.gif) left top no-repeat;
}
div.ss-home-signupbtn a:hover,div.ss-home-signupbtn a:active{
  background:url(/static/ft/img/slideshow/buttons/btn_signup_to-create.gif) left -50px no-repeat;
}
div#overlaySSPreviewBoxTitle{
  color:#fff;
  float:left;
  font-size:18px;
  padding:3px 0 0 7px;
}
div#overlaySSPreviewBoxBtn{
  padding-top:20px;
  text-align:center;
  width:320px;
}
div#overlayPreviewBoxTitle{
  color:#fff;
  float:left;
  font-size:18px;
  padding:3px 0 0 7px;
}
div#overlayPreviewBox{
  left:-8px;
  width:578px;
  background: linear-gradient(#18aeef, #00a6ed);
}
div.emsg-editbtn{
  left:0;
  position:absolute;
  top:393px;
  width:578px;
  height:55px;
  margin-top:7px;
}
div.autosave_title{
  color:#ED4600;
  font-size:18px;
  text-align:center;
  padding:8px 0 20px;
}
div.autosave_question{
  font-size:14px;
  padding-bottom:15px;
}
div.autosave_load_autosave{
  float:left;
  width:235px;
  position:relative;
  text-align:center;
}
div.autosave_load_autosave a:visited,div.autosave_load_autosave a:link{
  width:150px;
  height:40px;
  display:block;
  position:absolute;
  left:42px;
  background:url(/static/ft/img/v2/btn_load_autosave.gif) no-repeat 0 0;
}
div.autosave_load_autosave a:hover,div.autosave_load_autosave a:active{
  background-position:0 -40px;
}
div.autosave_panel{
  height:80px;
}
div.autosave_load{
  float:left;
  width:234px;
  position:relative;
  text-align:center;
}
div.autosave_load a:visited,div.autosave_load a:link{
  width:180px;
  height:40px;
  display:block;
  position:absolute;
  left:30px;
  background:url(/static/ft/img/v2/btn_load_last_save.gif) no-repeat 0 0;
}
div.autosave_load a:hover,div.autosave_load a:active{
  background-position:0 -40px;
}
div.autosave_close a{
  color:#333;
  text-decoration:underline;
}
div.autosave_close{
  text-align:right;
}
div.autosave_time{
  padding-top:45px;
  display:block;
  font-size:12px;
  color:#888;
  line-height:14px;
}
div.loadingBar {
  height: 20px;
  background-image: url('../images/loadinggray.png');
  margin-top: 37px;
}
div.loadingBarFilled {
  height: 100%;
  width: 0%;
  background-image: url('../images/loading.png');
}